choreographer==1.2.1
dotenv==0.9.9
iniconfig==2.3.0
kaleido==1.2.0
logistro==2.0.1
narwhals==2.12.0
numpy==2.3.5
orjson==3.11.4
packaging==25.0
pandas==2.3.3
plotly==6.5.0
pluggy==1.6.0
psycopg==3.2.12
Pygments==2.19.2
pytest==9.0.1
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
simplejson==3.20.2
six==1.17.0
tzdata==2025.2
